body{
  background: #E7F6FC;
  background-image: url(https://c0.wallpaperflare.com/preview/763/245/149/background-coffee-compose-composition.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.form-item{
  padding: 5px;
  
}
.form{
  width: 80%;
  margin: 20px;
  /* border: 2px #A5CFE3 solid; */
  border: 2px rgb(80, 79, 79) solid;
  /* background-color: #D7EDFA; */
  background-color: rgba(139, 139, 139, 0.728);
  border-radius: 10px;
  padding: 5px;
 
 
}

.form-input{
  background-color: rgba(250, 250, 250, 0.373);
  padding: 10px;
  border-radius: 7px;
  margin: 5px;
  width: 90%;
}
.form-input:hover{
  background-color: rgba(201, 225, 241, 0.511);
}
label{
  font-size: large;
}
 /* .goals{
  display: flex;
  flex-direction: row;

} */
.goal-detail{
  display: flex;
  flex-direction: row;
} 
.goal-box{
  flex-grow: 10;
}
.form-box{
  flex-grow: 1;
}
h1{
  font-size: large;
 font-weight: bold;
}

